html{background:#0D0D0D url(img/primary_bg_deep.jpg) repeat-y top center;}
body { background:#0D0D0D url(img/primary_bg_deep.jpg) repeat-y top center; font-size:small; color:#ccc; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif }
input{background-color:#111; color:#FFF; font-family:"Trebuchet MS"; padding-left:2px}
input.attention{background:#111 url(img/exclamation.png)5px no-repeat; padding:2px 2px 2px 25px; border:#222 1px solid;}
a{text-decoration:none; color:#15A555}
a:hover{color:#FFF !important;}
h1{font-family:"Arial Black", Tahoma, Verdana, Helvetica, sans-serif; font-size:2em; color:#FFF;}
h1 a{color:#FFF !important}
h1 a:hover{color:#15A555 !important;}
h2{color:#FFF; font-size:20px; font-weight:bold;}
h3{}
h4{font-size:16px; font-weight:bold; color:#15A555; border-bottom:1px solid #333; margin-bottom:4px;}
h5{}
h6{}
.align-r{text-align:right}
.dn{display:none;}
.white{color:#FFF;}
.red{color:#b30000;}
.grey{color:#555;}
.italic{font-style:italic}
.bold{font-weight:bolder;}
.clearfloat{clear:both; visibility:hidden;}
.cr{clear:right;visibility:hidden;}
.cl{clear:left; visibility:hidden;}
.pos-rel{position:relative;}
.pos-abs{ position:absolute;}
.compact-text{line-height:13px; font-size:0.83em;}
.small, .smoothAnchors{font-size:0.85em; color:#666;}
.false{color:#FF0000;font-weight:bolder;}
.true{color:#090;font-weight:bolder;}
.success, .approve {background:#215F25;border:2px solid #006600;color:#FFFFFF;font-weight:bold;padding-top:5px;margin-bottom:6px;}
.error{border:solid 2px #EF0E0E; color:#FFF; font-weight:bold; padding:5px; background:#B30000; margin-bottom:6px;}
.red{color:#EF0E0E;}
/*
 * Layout CSS Classes
 */
.w-30{width:30px;}
.w-50{width:50px;}
.w-100{width:100px;}
.w-200{width:200px;}
.width20{width:19%}
.width30{width:29.999%;}
.width33{width:32.999%;}
.width35{width:34.999%;}
.width60{width:59.999%;}
.width63{width:63.999%;}
.width66{width:65.999%;}
.width45{width:44.999%;}
.width49{width:48.999%;}
.width50{width:49.999%;}
.width55{width:54.999%;}
.width70{width:69.999%;}
.width80{width:79.999%;}
.width85{width:84.999%;}
.width90{width:89.999%;}
.width99{width:99%;}
.width100{width:100%;}


.width110px{width:110px;}
.width150px{width:150px;}
.width-200px{width:200px;}

.fl{ float:left;}
.fr{float:right;}

.align-c{text-align:center;}
.valign-c{ vertical-align:middle }
.pt-2{padding-top:2px;}
.pt-4{padding-top:4px;}
.pt-6{padding-top:6px;}
.pt-8{padding-top:8px;}
.pt-10{padding-top:10px;}
.pt-12{padding-top:12px;}
.pr-2{padding-right:2px;}
.pr-4{padding-right:4px;}
.pr-6{padding-right:6px;}
.pr-8{padding-right:8px;}
.pr-10{padding-right:10px;}

.pl-2{padding-left:2px;}
.pl-4{padding-left:4px;}
.pl-6{padding-left:6px;}
.pl-8{padding-left:8px;}
.pl-10{padding-left:10px;}

.pb-2{padding-bottom:2px;}
.pb-4{padding-bottom:4px;}
.pb-6{padding-bottom:6px;}
.pb-8{padding-bottom:8px;}
.pb-10{padding-bottom:10px;}

.p_all-2{padding:2px;}
.p_all-4{padding:4px;}
.p_all-6{padding:6px;}
.p_all-8{padding:8px;}
.p_all-10{padding:10px}

.mt-2{margin-top:2px;}
.mt-4{margin-top:4px;}
.mt-6{margin-top:6px;}
.mt-8{margin-top:8px;}
.mt-10{margin-top:10px;}
.mt-12{margin-top:12px;}
.mt-14{margin-top:14px;}
.mt-16{margin-top:16px;}
.mt-18{margin-top:18px}
.mt-20{margin-top:20px}
.mt-30{margin-top:30px;}
.mr-2{margin-right:2px;}
.mr-4{margin-right:4px;}
.mr-6{margin-right:6px;}
.mr-8{margin-right:8px;}
.mr-10{margin-right:10px;}
.mr-20{margin-right:20px;}

.ml-0{margin-left:0;}
.ml-2{margin-left:2px;}
.ml-4{margin-left:4px;}
.ml-6{margin-left:6px;}
.ml-8{margin-left:8px;}
.ml-10{margin-left:10px;}
.ml-40 {margin-left:40px;}
.ml-55{margin-left:55px;}

.mb-2{margin-bottom:2px;}
.mb-4{margin-bottom:4px;}
.mb-6{margin-bottom:6px;}
.mb-8{margin-bottom:8px;}
.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.m_all-2{margin:2px;}
.m_all-4{margin:4px;}
.m_all-6{margin:6px;}
.m_all-8{margin:8px;}
.m_all-10{margin:10px}
/*
 * Jaxer.org universal styles
 */

.docs-heading{ color:#fff; font: 1.3em "Arial Black", Arial, sans-serif; }
.comment, .Comment{color:#5F5A60; font-style:italic;}
.number, .Number{color: #CF6745;}
.boolean, .Boolean{color: #986591;}
.keyword{color:#913587;}
.string, .String{color: #8F9657;}
.array, .Array, .object, .Object{color: #498fe4;}
.function, .Function{}
.contain{width:960px; margin:0 auto;}
.empty-area{background:#181818 url(img/exclamation.png) no-repeat 1% 50%; padding:4px; border:1px solid #333; padding-left:30px; text-align:left;}
.bg_nearblack, .bg-nearblack{background-color:#111;}
.bg-deep{background-color:#181818;}
.bg-med{background-color:#222222;}
.bg-light{background-color:#272727;}
.bg-bright{background-color:#444444;}

.border-dark{border:solid 1px #333;}
.border-med{border:solid 1px #353535;}
.rounded{-moz-border-radius:5px;}
.quote, blockquote{background:transparent url(img/quote-close.png) no-repeat scroll right bottom; font-weight:bold; font-style:italic; color:#FFF; font-size:.8em; padding:6px; background-color:#181818; border:#333 solid 1px; margin:5px 50px; }
.quote p:first-child, blockquote p:first-child{background:transparent url(img/quote-start.png) no-repeat scroll left top; padding:0 0 10px 30px; }
#main{ background:url(img/greenbar_shadow_downward.png) top center no-repeat; width:960px; margin:0 auto 20px auto; }

/*		PAGINATOR STYLES		*/
#paginator li{ float:left;margin-right:8px; }
#paginator li a{padding:4px 6px;}
#paginator span.disabled{color:#444;}

/*		TABLES STYLES		*/
table.tbl-list{color:#FFF; width:99.9%;}
table.tbl-list td{padding:6px;}
table.tbl-list tbody tr:hover, table.tbl-list tbody tr.alt:hover{background:#222;}
table.tbl-list tr.approval:hover{background:#215F25 !important;}
table.tbl-list tr.denial:hover, .errorlist li{background:#7C1D1D !important;}
table.tbl-list tr.alt{background:#181818;border-top: 1px solid #222; border-bottom: 1px solid #222;}
table.tbl-list th{background:#111; font-size:1.3em;padding:4px;color:#FFF; text-align:center;; font-weight:bold; font-family:"Trebuchet MS", "Arial Black", sans-serif;}
table.tbl-list th.compact{font-size:1em; text-align:left; font-weight:bold;}
textarea{background:#111 none repeat scroll 0 0; border:1px solid #444; color:#FFF; margin-bottom:4px; margin-top:4px; padding-left:5px }
fieldset.full-input ul li input{width:99.9%;}
input.small-input{width:150px !important; height:15px; padding:5px}
fieldset li{padding:10px; background:#222; border:1px solid #333; padding:10px; }
fieldset li textarea{background:#111;color:#ccc; width:99%; border: #333 solid 1px}

/*		MODALBOX STYLES*/
#modalBox{background:url(img/black_bg_50.png) repeat; padding:10px;}
#modalBox h2{color:#14A554; font-size:20px; font-weight:bold;}
#modalBox h2.draggable, .draggable{cursor:move;}
#modalBox fieldset li input.dark_button, .dark_button { background-color: #333; background-image: url(img/jaxer_button_bg_dark.jpg); background-repeat: repeat-x; background-position: left center;border: 1px solid #000; padding:6px; font: 0.8em "Trebuchet MS", Arial, Helvetica, sans-serif; color: #CCC; }
#modalBox fieldset li input.dark_button:hover, .dark_button:hover  {text-decoration:underline; background-color: #333; background-image: url(img/jaxer_button_bg_dark_hover_alt.jpg); }
#modalBox #stagewrap{padding:8px; background:#181818;}
#modalBox #stagecontainer{background:#272727; border:1px solid #333;}
#header-wrap{background:url(img/top_shadow_upward.png) no-repeat bottom center; height:75px; margin:0 auto; width:960px; position:relative;}
#header #logo{position:absolute; top:20px; left:1%;}

#menubar{ background:#0E0E0E url(img/secondary_bg_deep.jpg) repeat-y top center; height:80px; border-top: 1px solid #222; }
#greenbar{background:#084113 url(img/accent_bg_green.png) top center repeat-y; height:40px;}
#greenbar-wrap{width:960px; background:url(img/top_shadow_downward.png) top center no-repeat; margin:0 auto; height:100%; border-top:1px solid #333;}
fieldset label, .label{color:#14A554;}
.button_wrap { padding:1px; background:#333; }
#mainnav {position:absolute; display:block;top:50px; right:0;}
#menubar #container{width:960px; margin:0 auto; position:relative;}
#container{height:80px;}
#jaxermenu{position:absolute; top:30px; right:0;}

#jaxermenu li a{ padding:10px 6px; margin:0 4px; font-size:14px; color: #FFFFFF; }
#jaxermenu li a:hover{background:#111; color:#8AC287 !important; opacity:0.7; -moz-border-radius:5px; }
#mainnav li, #jaxermenu li{float:left; padding:2px; display:block;}
#mainnav li a{color:#666; border-left:3px solid transparent; padding:0 4px 0 4px; font-size:11px}
#mainnav li a:hover, #mainnav li a.on{color:#FFF; border-left:3px solid #006600;}

#promo-head{width:96%; padding-left:40px; background:#181818 url(img/green_gradiend_border.png) top left no-repeat; font-size:17px; margin-bottom:10px; height:200px}
#promo-head #controls ul li { background: url(img/header_bullet.png) no-repeat center center; height: 35px; width: 35px; margin: 0px; padding-top: 8px; padding-bottom: 8px; cursor:pointer; }
#promo-head #controls ul li.on{background:url(img/header_bullet_on.png) no-repeat center center;}
#scroll-pane #scroll-panel .scroll-item { height: 200px; float: left; width: 245px; padding-top: 5%; }
#slab p{margin-bottom:8px; text-indent:10px;}

/*		MAIL STYLES			*/
#mail li{display:inline; padding:2px 6px;}
#mail li a{padding-left:25px; margin-right:10px; background:transparent url(img/mail-icons.png)no-repeat}
#mail li a.mail-inbox{background-position:1px 2px;}
#mail li a.mail-compose{background-position:1px -15px;}
#mail li a.mail-sent{background-position:1px -31px;}
#mail li a.mail-trash{background-position:1px -51px;}
#mail-message{margin:10px 50px 20px 50px; background:#0d0d0d; border:1px solid #333; padding:6px; font-family:Courier,"Courier New",monospace;}
dl.message-headers dt{padding:6px; color:#15A555; background-color:#333; border:1px solid #444; font-family:Courier, "Courier New", monospace; margin-bottom:4px;}
/*		FOOTER STYLES		*/
#footer #footernav { background: #111111; border-top: 1px solid #333333; font-size:0.83em; }
#footer { background: #181818; }
#footer h2 { font: bold large "Arial Black", Arial, Helvetica, sans-serif; color: #FFF; border-bottom: 1px solid #666; }
#footer a { }
#footer #footernav{line-height:12px;}
#footer #footernav ul{margin-left:5px;}
#footer #footernav li{display:inline;}
#footer #footernav ul li a { float: left; color: #FFF; padding: 4px 10px; margin: 0 4px; font-size: 12px; }
#footer #footernav ul li a.on{ background:#272727; color:#090 !important;}
#footer #footernav ul li a:hover{text-decoration:underline;}
#promo-head #scroll-pane { height: 200px; overflow: hidden !important; font-size: 22px; position: relative; }
.feature-block { border-left: 3px solid #114918; padding: 4px 4px 4px 55px; margin-bottom: 8px; margin-left: 8px; background:#181818; position: relative; color:#999; border-top: 1px solid #222; border-right: 1px solid #222; border-bottom: 1px solid #222; }
.feature-block img { position: absolute; left: 5px; bottom: 5px; }
.feature-block h2{color:#FFF; font-size:1.3em; font-weight:bold; font-family:BodoniXT, "Times New Roman", Times, serif;}
#main-sidebar table  img.avatar { background: #111; padding: 3px; border: 1px solid #333; }
#main-sidebar h1{ color:#666; font-family:"Arial Black",sans-serif 22px; border-bottom: 1px solid #333; margin-top: 4px; }
#main-sidebar h2 { color: #666; font: bold medium "Trebuchet MS", Arial, Helvetica, sans-serif; border-bottom: 1px solid #333; }

#footer #bottom-bar { background: #333; border-top: 1px solid #555; line-height:150%; text-align:right; padding:4px;}
#footer #bottom-bar a{margin:0 4px;}
#scroll-pane #scroll-panel { height: 200px; width:1000px; position: absolute; left: 0px; top: 0px; }
#main-sidebar h3 a { color: #016B0F; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; }
#main-sidebar a{color:#016B0F;}


/* fancyform styles */
.demo label{display:block;padding:0.5em;padding-left:32px;background-position:8px center;background-repeat:no-repeat;border:1px solid #252525;clear:both;cursor:pointer}
.checked{background-color:#222; background:url(img/chk_on.png) no-repeat left center; padding-left:20px; }
.unchecked{background-color:#1c1c1c;background:url(img/chk_off.png) no-repeat left center; padding-left:20px;}
.selected{background-color:#222;background:url(img/rdo_on.png) no-repeat left center; padding-left:20px;}
.unselected{background-color:#1c1c1c;background:url(img/rdo_off.png) no-repeat left center; padding-left:20px;}
.leftcol{float:left;clear:left;width:50%}
.rightcol{float:left;clear:right;width:50%}

/* 		MENU STYLES 		*/


/* all menu links */
#nav a, #subMenusContainer a{
	text-decoration:none;
	display:block;
	color:#666; border-left:3px solid transparent; padding:0 4px 0 4px; font-size:11px
	padding:10px 6px; margin:0 4px; font-size:14px; color:#15A555}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav a{
text-decoration:none; color:#15A555	
padding:10px 6px; margin:0 4px; font-size:14px; color:#15A555}

/* Just sub menu links */
#subMenusContainer a, #nav li li a{
	text-align:left;
}

/* All menu links on hover or focus */
#nav a:hover, #nav a:focus,  #nav a.mainMenuParentBtnFocused{
color:#FFF; border-left:3px solid #006600;
}
#subMenusContainer a.subMenuParentBtnFocused{}
#subMenusContainer a:hover, #subMenusContainer a:focus{
	color:#b30000
}
/* sub menu links on hover or focus */
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#nav a.mainMenuParentBtnFocused, 
#subMenusContainer a.subMenuParentBtnFocused,
#nav li a:hover,
#nav li a:focus{
	color:#FFF;

}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{ 
	/*background: url(../img/arrow_right.gif) right center no-repeat;*/
}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{ 
	color:#FFF; border-left:3px solid #006600;
	/* background: url(img/arrow_right_over.gif) right center no-repeat;*/
}

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{
	/* background: url(img/rdo_off.png) right center no-repeat;*/ 
}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
#mainnav a.mainMenuParentBtnFocused, .mainMenuParentBtnFocused{	
	color:#FFF; border-left:3px solid #006600;
	/*background: url(img/arrow_down_over.gif) right center no-repeat;*/ 
}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 2px;
	margin:5px 0 0 3px;
}


/* All ULs and OLs */
#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* All submenu OLs and ULs */
#nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/	 
	margin:2px;
	left:0;
}
#nav ol, #nav ul li, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/	 
	margin-bottom:2px;
	padding:1px;
	left:0;
}

/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#nav li { 
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
	float:left;
}

#subMenusContainer li{
	list-style: none;
	border-left:2px solid #fff;
	margin-bottom:2px;
	margin-left:-2px;
	background:#111;
	padding:2px
}
#subMenusContainer li:hover{
	border-left:2px solid #006600;
}
/* main menu ul or ol elment */
#nav{
	display:block;
	position: absolute;
	list-style:none;
	margin:0 0 0 0;
	z-index:5;
	top:15px;
	left:50%;
	text-align: center;
	display:block;
}

#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:0;	width:100%;	height:0;	overflow:visible;	z-index:1000000000; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#nav li li{	float:none; }

#nav li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	margin-top:.5em;
}

/* third-and-above-level lists */
#nav li ul ul { margin: -1em 0 0 -1000em; }
#nav li:hover ul ul {	margin-left: -1000em; }

 /* lists nested under hovered list items */
#nav li:hover ul{	margin-left: 0; }
#nav li li:hover ul {	margin-left: 10em; margin-top:-2.5em;}

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
#nav li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
#nav li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
#nav li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
#nav li:hover a:focus{ /*argin-left: 0;*/ }
#nav li li:hover a:focus + ul { margin-left: 10em; }

/* Autocompleter Styles */
ul.autocompleter-choices
{
	position:				absolute;
	margin:					0;
	list-style:				none;
	padding:			    3px;
	border-left-color:		#c3c3c3;
	border-right-color:		#c3c3c3;
	border-bottom-color:	#ddd;
	background-color:		#fff;
	text-align:				left;
	font-family:			Verdana, Geneva, Arial, Helvetica, sans-serif;
	z-index:				50;
	background:				url(img/black_bg_50.png) repeat;
}

ul.autocompleter-choices li
{
	position:				relative;
	margin:					0;
	padding:				0.2em 1.5em 0.2em 0.5em;
	display:				block;
	float:					none !important; 
	border-bottom:			1px solid #333;
	cursor:					pointer;
	font-weight:			normal;
	white-space:			nowrap;
	font-size:				1em;
	line-height:			1.5em;
	background:				#fff;
	color:					#333;
}

ul.autocompleter-choices li.autocompleter-selected
{
	background-color:		#444;
	color:					#fff;
}

ul.autocompleter-choices span.autocompleter-queried
{
	display:				inline;
	float:					none;
	font-weight:			bold;
	margin:					0;
	padding:				0;
	color:					#000;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried
{
	color:					#15A555;
}
/*		FACEBOOK-LIKE MULTI INPUT SEARCH STYLES		*/
.multi-input{border:#222 1px solid; width:99%;background:#111;padding:4px}
#multiline input.multiline, #multiline li.multiline{display:inline;padding:4px;float:left;margin-bottom:2px;}
#multiline li{margin-right:5px}
#multiline input.multiline{border:none; background:transparent none;}
.selectbox-option{padding:4px;background:#272727; border:1px solid #333}
.selectbox-option:hover{background:#444; color:#c70c0c; border:1px solid #111}