{% extends "base.html" %}
		{% block stylesheets %}
		<link href="{{ MEDIA_URL }}js/mooeditable/Assets/MooEditable/MooEditable.css" type="text/css" media="screen" rel="stylesheet"/>
		<link href="{{ MEDIA_URL }}js/mooeditable/Assets/MooEditable/MooEditable.Extras.css" type="text/css" media="screen" rel="stylesheet"/>
		<link href="{{ MEDIA_URL }}js/mooeditable/Assets/MooEditable/MooEditable.Image.css" type="text/css" media="screen" rel="stylesheet"/>
		{% endblock %}
	{% block content %}
		<textarea id="area1" rows="20" style="width:700px;">Hello World</textarea>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4-core.js" ></script>
		<script type  "text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4.2-more.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/base-debug.js"></script>
		<script type="text/javascript" >
			window.addEvent('domready',function(){
				var moo = $('area1').mooEditable({
					actions:"h2 h4 p | bold italic | insertunorderedlist indent outdent | undo redo | createlink unlink | image | insertcode toggleview",
					externalCSS:"../../..{{ MEDIA_URL }}css/jaxerRTE.css"
				});
				MooEditable.Actions.p = {
					title:'Paragragh',
					type:'button',
					options: {
						states: {
							tags: ['p']
						},
						mode:'icon'
					},
					command: function(name){
						var argument = '<' + name.name + '>';
						this.focus();
						this.execute('formatBlock', false, argument);
					}
				};
				MooEditable.Actions.h2 = {
					title:'H2',
					type:'button',
					options:{
						mode:'icon'
					},
					command: function(name){
						var argument = '<' + name.name + '>';
						this.focus();
						this.execute('formatBlock', false, argument);
					}
				};

				MooEditable.Actions.h4 = {
					title: 'H4',
					type: 'button',
					options: {
						mode: 'icon'
					},
					command: function(name){
						var argument = '<' + name.name + '>';
						this.focus();
						this.execute('formatBlock', false, argument);
					}
				};
				MooEditable.Actions.insertcode={
					title:"Insert Code",
					type:"button",
					options:{
						mode:'icon',
						shotcut:'q'
					},
					states:{
						tags:['pre']
					},
					command:function(button, e){
						var codeBox, form, control, submit_btn, wrap, result_obj, node;
						result_obj = {};
						codeBox = new utils.LaunchPad();
						form = new Request.HTML({
							evalScripts: false,
							url:'{% url core_ajax_codeform %}',
							'onFailure': function () {
								codeBox.showBox({
									titleBar:"Insert Code",
									stage:'Problem retriving the insert code form<br />Let someone know!',
									closeable:true
								});
								
							},
							'onSuccess': function (responseTree, responseElements, responseHTML) {
								codeBox.showBox({
									titleBar:"Insert Code",
									stage:'',
									closeable:false
								});
								var fset = new Element('fieldset');
								fset.inject('stage');	
								fset.set('html', responseHTML);
								control = new Element('li');
								wrap = new Element('span').addClass('button_wrap');
								submit_btn = new Element('a', {
									href: "#",
									text: "Insert Code",
									events: {
										click: function () {
											var raw_code, safe_code;
											raw_code = $('id_code').value;
											safe_code = raw_code;
											
											safe_code = safe_code.replace(/</g,'&lt;')
											safe_code = safe_code.replace(">", "&gt;");
											safe_code = safe_code.replace("<", "\&lt;");
											//safe_code = safe_code.replace("&amp;lt", "&lt;")
											result_obj = {
												language:$('id_language').value,
												syntax: safe_code
											}
		                                    if (safe_code !== "") {
		                                        node = "<pre class='"+ result_obj.language+":twilight'>"+result_obj.syntax+"</pre>";                                    
		                                        moo.selection.insertContent(node);												
		                                    }
											codeBox.hideBox();
											result_obj = raw_code = safe_code = '';
										}
									}
								}).addClass('dark_button');
								submit_btn.inject(wrap);
								wrap.inject(control);
								control.inject(fset);
								codeBox.show();
							}
						}).send();
					}
				};
			});
		</script>
	{% endblock %}
	{% block extrascripts %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mooeditable/Source/MooEditable/MooEditable.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mooeditable/Source/MooEditable/MooEditable.Extras.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mooeditable/Source/MooEditable/MooEditable.Image.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/lighter/Lighter.js"></script>
	{% endblock %}