{% extends "base.html" %}
		{% block stylesheets %}
		<link href="{{ MEDIA_URL }}js/mooeditable/Assets/MooEditable/MooEditable.css" type="text/css" media="screen" rel="stylesheet"/>
		<link href="{{ MEDIA_URL }}js/mooeditable/Assets/MooEditable/MooEditable.Extras.css" type="text/css" media="screen" rel="stylesheet"/>
		<link href="{{ MEDIA_URL }}js/mooeditable/Assets/MooEditable/MooEditable.Image.css" type="text/css" media="screen" rel="stylesheet"/>
		{% endblock %}
	{% block content %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4-core.js" ></script>
		<script type  "text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4.2-more.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/base-debug.js"></script>
		<div style="margin:50px auto;" class="width50">
		<form>
			<fieldset>
				<ul >
					<li>{{ form }}</li>
				</ul>
			</fieldset>
		</form>
		</div>
	{% endblock %}
	{% block extrascripts %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mooeditable/Source/MooEditable/MooEditable.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mooeditable/Source/MooEditable/MooEditable.Extras.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mooeditable/Source/MooEditable/MooEditable.Image.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/lighter/Lighter.js"></script>
	{% endblock %}