{% extends "base.html" %}
{% load generic_content %}
{% block stylesheets %}
{% endblock %}
{% block content %}
		<div id="main">
			<div class="pt-8">
				<div class="pt-10 mt-10">
					<div id="promo-head" class="mt-10">
						<div class="fl width33">            
                        	<div class="fl width80" id="scroll-pane">
							{% get_latest_objects core.homescrollpaneitem 4 as panel_items %}
                            <div id="scroll-panel">
                            	{% for item in panel_items %}
                            	<div class="scroll-item" id="content-{{ item.pk }}">{{ item.text }}</div>
								{% endfor %}
                                <br class="cr" />
                            </div>
                            </div>
                            <div class="fr" id="controls">
                            	<ul>
                                	<li class="on" id="control-1"></li>
                                    <li id="control-2"></li>
                                    <li id="control-3"></li>
                                    <li id="control-4"></li>
                                </ul>
                            </div>
                            </div>
						<div class="fr width66"><img src="{{ MEDIA_URL }}images/jaxer-placeholder.png" height="200" width="608" /></div>
						<br class="clearfloat" />
					</div>
				</div>
				<div class="width33 fl mr-6 p_all-4 rounded bg_nearblack" id="main-sidebar">
                	<h2>Recent Discussion</h2>
                	<table class="tbl-list">
                        <tr>
							<td class="w-50">
                            	<img src="" width="50" height="50" />
                            </td>
                            <td>
                            	<h3><a href="#">title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis, elit non malesuada consectetur <a href="#">more...</a></p>
                            </td>                        
                        </tr>
                        <tr class="alt">
							<td class="w-50">
                            	<img src="" width="50" height="50" />
                            </td>
                            <td>
                            	<h3><a href="#">title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis, elit non malesuada consectetur <a href="#">more...</a></p>
                            </td>                        
                        </tr>
                        <tr>
							<td class="w-50">
                            	<img src="" width="50" height="50" />
                            </td>
                            <td>
                            	<h3><a href="#">title</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis, elit non malesuada consectetur <a href="#">more...</a></p>
                            </td>                        
                        </tr>

                    </table>
                </div>
				<div class="width63 fr p_all-4 rounded bg_nearblack" >
                	<div class="fl width50 mt-8">
                		{% get_latest_objects core.homepageitem 6 as latest_items %}
						{% for item in latest_items|slice:"0:2" %}
                    	<div class="feature-block">
                        	<h2>{{ item.title }}</h2>
                        	<p>{{ item.description }}</p>
                            <img src="{{ MEDIA_URL }}{{ item.icon }}" alt=""  />
                    	</div>
						{% endfor %}
                    </div>
                	<div class="fr width50 mt-8">
						{% for item in latest_items|slice:"3:5" %}
                    	<div class="feature-block">
                        	<h2>{{ item.title }}</h2>
                        	<p>{{ item.description }}</p>
                            <img src="{{ MEDIA_URL }}{{ item.icon }}" alt=""  />
                    	</div>
						{% endfor %}
                    </div>                    
                </div>
				<br class="clearfloat" />
			</div>
		</div>
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
	window.addEvent('domready', function () {
		var slidePanel = new UI.ScollPanel();
	});
</script>
{% endblock %}